.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

# remove annoying temp files from rendering
*_files/

# remove _book from tracking
_book/

# BRA processed data 
data_proc/

# EUR data prep tmp folder
data-prep-eur/
